html, body {
  height: 100%;
  background: linear-gradient(to bottom right, #ffffff 0%, #e6eff1 100%);
  margin: 0;
  font-family: "bitter", serif;
  font-weight: 400;
  font-style: normal;
  color: #2e332d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Freestyle Script Regular";
  src: local('Freestyle Script Regular'), url('./assets/FREESCPT.woff') format('woff');
}

.logofont {
  font-family: "Freestyle Script Regular", serif;
  font-weight: 400;
  font-style: normal;
  color: #2e332d;
  font-size: 26px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn{
  background-color: #e6eff1;
  color: #2e332d;
  border: none;
  box-shadow: 0 0 5px #5b605a;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.btn:hover {
  background-color: #4a5b48;
  border: none;
  color: #e6eff1;
  outline: none;
}

.btn:focus {
  background-color: #4a5b48;
  border: none;
  color: #e6eff1;
  outline: none;
}

.btn:active {
  background-color: #2e332d !important;
  border: none;
  color: #e6eff1;
  outline: none;
}



.button {
  background-color: #e6eff1;
  color: #2e332d;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 5px #5b605a;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  min-height: 10vw; 
  min-width: 10vw; 
  padding: 4vw;
}

.button:hover {
  background-color: #4a5b48;
  border: none;
  color: #e6eff1;
  outline: none;
}

.button:focus {
  background-color: #4a5b48;
  border: none;
  color: #e6eff1;
  outline: none;
}

.button:active {
  background-color: #2e332d !important;
  border: none;
  color: #e6eff1;
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.accordion-button:not(.collapsed) {
  background-color: #e6eff1 !important;
  color: #000000 !important;
}